<h1>{{title}}</h1>

Name: <input type="text" #name name="name" placeholder="Enter your name"> <br>
Address: <input type="text" #add name="add" placeholder="Enter your address"> <br>
Password: <input type="pass" #pass name="pass"  placeholder="Enter your password" id="">

<button (click)="getValue(name.value,add.value)">Register</button>

<h2>Your Registered Data</h2>

Hello {{dname}} Sweetheart!
this is your address {{dadd}}

<!-- npm install -g @angular/cli@latest
ng new shri

ng serve
cd shri
ng serve -->